# -- Node.js security ecosystem triage members 
# These owners will be automatically assigned to any PRs
# opened for vulnerabilities to be added to the database
# of the npm community ecosystem
/vuln/npm/    @nodejs/security-triage  

# Currently setting the same ecosystem team to help
# review any core related PRs as well
/vuln/core/   @nodejs/security-triage 

# -- Node.js Security WG processes 
# Security WG members who'd like to automatically add
# themselves to processes PR reviews should be added here
/processes    @vdeturckheim @lirantal @mhdawson

