name: "Close stale issues"
on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  # Needed to write a stale message on issues
  issues: write
  # Needed to close a stale pull-request
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been inactive for 90 days. It will be closed in 14 days unless there is further activity or the stale label is taken off.'
        stale-issue-label: 'stale'
        exempt-issue-labels: 'never-stale'
        days-before-stale: 90
        days-before-close: 14
