name: "Update core index.json"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'vuln/core/*.json'
      - '!vuln/core/index.json'

permissions:
  contents: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      with:
        persist-credentials: false

    - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: 18

    - name: Install deps
      run: npm ci

    - name: Update core index.json
      run: |
        npm run create-core-index

    - name: Create Pull Request
      uses: gr2m/create-or-update-pull-request-action@77596e3166f328b24613f7082ab30bf2d93079d5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          commit-message: 'vuln: update core index.json'
          title: update core index.json
          body: 'update core index.json. cc: @nodejs/security-wg'
          assignees: ${{ github.actor }}
          labels: security-wg-agenda
          branch: core-index-updated
          update-pull-request-title-and-body: true
