name: "Update core index.json"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'vuln/core/*.json'
      - '!vuln/core/index.json'

permissions:
  contents: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

    - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
      with:
        node-version: 18

    - name: Install deps
      run: npm ci

    - name: Update core index.json
      run: |
        npm run create-core-index

    - name: Create Pull Request
      uses: gr2m/create-or-update-pull-request-action@77596e3166f328b24613f7082ab30bf2d93079d5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          commit-message: 'vuln: update core index.json'
          title: update core index.json
          body: 'update core index.json. cc: @nodejs/security-wg'
          assignees: ${{ github.actor }}
          labels: security-wg-agenda
          branch: core-index-updated
          update-pull-request-title-and-body: true
