name: "Update npm index.json"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'vuln/npm/*.json'
      - '!vuln/npm/index.json'

permissions:
  contents: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

    - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: 18

    - name: Install deps
      run: npm ci

    - name: Update npm index.json
      run: |
        npm run create-npm-index

    - name: Create Pull Request
      uses: gr2m/create-or-update-pull-request-action@77596e3166f328b24613f7082ab30bf2d93079d5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          commit-message: 'vuln: update npm index.json'
          title: update npm index.json
          body: 'update npm index.json. cc: @nodejs/security-wg'
          assignees: ${{ github.actor }}
          labels: security-wg-agenda
          branch: npm-index-updated
          update-pull-request-title-and-body: true
